
<script id="htma-ionic-default"
		name="htma" type="text/html" >
	<% var $alt = HTMA_getRequired(arguments[0],['alt']); %>
	<<%- $t %> class="<%- $i('class') ? $g('class') : '' %>
				<%- $i('state') ? $g('state') : '' %>
				<%- $i('column') ? $g('column') : '' %>"
			<%= $alt ? 'aria-label="'+$alt["alt"]+'"' : '' %>
			<%= $g('rest') %> >
		<%= HTMA_printNode({0:{a:arguments}, 1:'default-inner', "framework":$f}) %>
	</<%- $t %>>
</script>
<script id="htma-ionic-default-inner"
		name="htma" type="text/html" >
	<% var $alt = HTMA_getRequired(arguments[0],['alt']); %>
	<% if ($alt) { %>
		<span class="sr-only"><%- $alt["alt"] %></span>
	<% } %>
	<% if ($i('icon')) { %>
		<i class="glyphicon glyphicon-<%- $g('icon') %>"></i>
	<% } %>
	<% if ($i('label')) { %>
		<span class="<%- $t %>-label"><%- $g('label') %></span>
	<% } %>

	<% _.each($c, function ($child) { %>
		<%= HTMA_printNode({0:$child, "framework":$f}) %>
	<% }); %>

	<% if ($i('badge')) { %>
		<span class="badge"><%- $g('badge') %></span>
	<% } %>
</script>

			
			
			
			

<script id="htma-ionic-header"
		name="htma" type="text/html" >
		<div class="bar bar-header
			bar-<%- $i('strap') ? $g('strap') : 'light' %>
			<%= $i('class') ? $g('class') : '' %>">
			<% if ($i('label')) { %>
				<h1 class="title"><%- $g('label') %></h1>
			<% } %>
			<%= HTMA_printNode({0:{a:arguments}, 1:'default-inner', "framework":$f}) %>
		</div>
</script>
<script id="htma-ionic-subheader"
		name="htma" type="text/html" >
		<div class="bar bar-subheader
			bar-<%- $i('strap') ? $g('strap') : 'light' %>
			<%= $i('class') ? $g('class') : '' %>">
			<% if ($i('label')) { %>
				<h2 class="title"><%- $g('label') %></h2>
			<% } %>
			<%= HTMA_printNode({0:{a:arguments}, 1:'default-inner', "framework":$f}) %>
		</div>
</script>
<script id="htma-ionic-footer"
		name="htma" type="text/html" >
		<div class="bar bar-footer
			bar-<%- $i('strap') ? $g('strap') : 'light' %>
			<%= $i('class') ? $g('class') : '' %>">
			<%= HTMA_printNode({0:{a:arguments}, 1:'default-inner', "framework":$f}) %>
		</div>
</script>
<script id="htma-ionic-list-item"
		name="htma" type="text/html" >
	<li <%= $i('state') ? 'class="'+$g('state')+'"' : '' %> >
		<%= HTMA_printNode({0:{a:arguments}, "framework":$f}) %>
	</li>
</script>


<script id="htma-ionic-toolbar"
		name="htma" type="text/html" >
	<% var $alt = HTMA_getRequired(arguments[0],['alt']); %>
	<div role="toolbar"
		class="btn-toolbar
			<%- $i('class') ? $g('class') : '' %>
			<%- $i('column') ? $g('column') : '' %>"
		<%= $alt ? 'aria-label="'+$alt["alt"]+'"' : '' %>
		<%= $g('rest') %> >
		<% if ($alt) { %>
			<span class="sr-only"><%- $alt["alt"] %></span>
		<% } %>

		<% _.each($c, function ($child) { %>
			<% if ($child.tagName == 'dropdown') { %>
				<%= HTMA_printNode({0:$child, 1:'dropdown', "framework":$f}) %>
			<% } else { %>
				<%= HTMA_printNode({0:$child, "framework":$f}) %>
			<% } %>
		<% }); %>
	</div>
</script>
<script id="htma-ionic-btns"
		name="htma" type="text/html" >
	<% var $alt = HTMA_getRequired(arguments[0],['alt']); %>
	<div class="button-bar
			<%- $i('size') ? 'btn-group-'+$g('size') : '' %>
			<%- $i('class') ? $g('class') : '' %>
			<%- $i('state') ? $g('state') : '' %>
			<%- $i('column') ? $g('column') : '' %>"
		<%= $alt ? 'aria-label="'+$alt["alt"]+'"' : '' %>
		<%= $g('rest') %> >

		<% _.each($c, function ($child) { %>
			<% if ($child.tagName == 'dropdown') { %>
				<%= HTMA_printNode({0:$child, 1:'dropdown', "framework":$f}) %>
			<% } else { %>
				<%= HTMA_printNode({0:$child, "framework":$f}) %>
			<% } %>
		<% }); %>
	</div>
</script>
<script id="htma-ionic-btn"
		name="htma" type="text/html" >
	<%
		var $alt = HTMA_getRequired(arguments[0],['alt']);
		var $tag = 'button';
		if ($i('href'))
			$tag = 'a';
	%>
	<% %>
	<<%- $tag %>
		class="btn
			btn-<%- $i('strap') ? $g('strap') : 'default' %>
			<%- $i('size') ? 'btn-'+$g('size') : '' %>
			<%= $i('class') ? $g('class') : '' %>
			<%- $i('state') ? $g('state') : '' %>
			<%- $i('column') ? $g('column') : '' %>"
		<%= $alt ? 'aria-label="'+$alt["alt"]+'"' : '' %>
		<% if ($tag == 'a') { %>
			href="<%- $g('href') %>"
			role="button"
		<% } else { %>
			type="<%- $i('type') ? $g('type') : 'button' %>"
		<% } %>
		<%= $g('rest') %> >

		<%= HTMA_printNode({0:{a:arguments}, 1:'default-inner', "framework":$f}) %>
	</<%- $tag %>>
</script>


<script id="htma-ionic-input"
		name="htma" type="text/html" >
	<% var $ids = HTMA_getRequired(arguments[0],['id','name','alt']);
		var $type = 'text';
		var $tag='input';
		if ($i('type'))
			$type = $g('type');
		if ($type == 'textarea')
			$tag = $type; %>
	<label class="form-group
				<%- $i('column') ? $g('column') : '' %>
				<%- $i('state') ? $g('state') : '' %>"
			<% if ($ids) { %>for="<%- $ids["id"] %>"<% } %>>
		<% if ($i('label')) { %>
			<span class="input-label"><%- $g('label') %></span>
		<% } %>
		<div class="input-group
				<%- $i('size') ? 'input-group-'+$g('size') : '' %>" >
			<!--aria-describedby="unique id.." -->
			<% if ($i('prefix')) { %>
				<span class="input-group-addon"><%- $g('prefix') %></span>
			<% } %>
				<<%- $tag %>
					<% if ($ids) { %>
						id="<%- $ids["id"] %>"
						name="<%- $ids["name"] %>"
						aria-label="<%- $ids["alt"] %>"
					<% } %>
					<% if ($type!='textarea') { %>
						type="<%- $type %>"
						<%- $i('value') ? 'value="'+$g('value')+'"' : '' %>
					<% } %>
					<%= $i('placeholder') ? 'placeholder="'+$g('placeholder')+'"': ''%>
					class="form-control
							<%- $i('class') ? $g('class') : '' %>"
					<%= $g('rest') %> >

				<% if ($type == 'textarea') {
					if ($i('value')) { %>
						<%- $g('value') %>
					<% } %>
					</<%- $tag %>>
				<% } %>

			<% if ($i('postfix')) { %>
				<span class="input-group-addon"><%- $g('postfix') %></span>
			<% } %>
		</div>
	</label>
</script>


<script id="htma-ionic-tabs"
		name="htma" type="text/html" >
	<% var $alt = HTMA_getRequired(arguments[0],['alt']);
		var $opts = $i('options') ? $g('options') : ''; %>
	<div class="container
			<%- $i('state') ? $g('state') : '' %>
			<%- $i('column') ? $g('column') : '' %>"
		<%= $alt ? 'aria-label="'+$alt["alt"]+'"' : '' %>
		<%= $g('rest') %>>
		<% if ($alt) { %>
			<span class="sr-only"><%- $alt["alt"] %></span>
		<% } %>
		<ul class="nav nav-<%- $i('options') && $opts('pills') ? 'pills' : 'tabs' %>
				<%- $i('options') && ($opts('vertical') || $opts('stacked')) ? 'nav-stacked' : '' %>">
			<% _.each($c, function ($child) { %>
				<% if ($child.tagName == 'tab') { %>
					<%= HTMA_printNode({0:$child, 1:'tabs-tab', "framework":$f}) %>
				<% } else if ($child.tagName == 'dropdown') { %>
					<%= HTMA_printNode({0:$child, 1:'nav-dropdown', "framework":$f}) %>
				<% } else { %>
					<%= HTMA_printNode({0:$child, "framework":$f}) %>
				<% } %>
			<% }); %>
		</ul>
		<div class="tab-content
				<%- $i('class') ? $g('class') : '' %>"
			<% if ($i('scroll')) { %>
				style="<%= $g('scroll') %>"
			<% } %> >

			<% _.each($c, function ($child) { %>
				<%= HTMA_printNode({0:$child, 1:'tabs-content', "framework":$f}) %>
			<% }); %>
		</div>
	</div>
</script>
<script id="htma-ionic-tabs-tab"
		name="htma" type="text/html" >
	<% var $alt = HTMA_getRequired(arguments[0],['alt']); %>
	<li role="presentation"
		<%= $i('state') ? 'class="'+$g('state')+'"' : '' %>>
		<a
			<% if (!($i('state') && $g('state') == 'disabled')) { %>
				href="#<%- $g('id') %>"
				data-toggle="tab"
			<% } %>
			<%= $alt ? 'aria-label="'+$alt["alt"]+'"' : '' %>
			<%= $g('rest') %> >
			
			<% if ($i('icon')) { %>
				<i class="glyphicon glyphicon-<%- $g('icon') %>"></i>
			<% } %>
			<% if ($alt) { %>
				<span class="sr-only"><%- $alt["alt"] %></span>
			<% } %>
			<% if ($i('label')) { %>
				<span class="tab-label"><%- $g('label') %></span>
			<% } %>
		</a>
	</li>
</script>
<script id="htma-ionic-tabs-content"
		name="htma" type="text/html" >
	<div
		id="<%- $g('id') %>"
		class="tab-pane
			<%= $i('state') ? $g('state') : '' %>
			<%- $i('class') ? $g('class') : '' %>" >

		<% _.each($c, function ($child) { %>
			<%= HTMA_printNode({0:$child, "framework":$f}) %>
		<% }); %>
	</div>
</script>


<script id="htma-ionic-alt-dropdown"
		name="htma" type="text/html" >
	<% var $alt = HTMA_getRequired(arguments[0],['alt']);
		var $opts = $i('options') ? $g('options') : ''; %>
	<div class="<%- $i('options') && $opts('dropup') ? 'dropup' : 'dropdown' %>
			<%- $i('class') ? $g('class') : '' %>
			<%- $i('column') ? $g('column') : '' %>"
		<%= $alt ? 'aria-label="'+$alt["alt"]+'"' : '' %>
		<%= $g('rest') %> >

		<button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
			class="dropdown-toggle btn
				btn-<%- $i('strap') ? $g('strap') : 'default' %>">

			<%= HTMA_printNode({0:{a:arguments}, 1:'dropdown-toggle', "framework":$f}) %>
		</button>

		<%= HTMA_printNode({0:{a:arguments}, 1:'dropdown-items', "framework":$f}) %>
	</div>
</script>
<script id="htma-ionic-dropdown"
		name="htma" type="text/html" >
	<% var $alt = HTMA_getRequired(arguments[0],['alt']);
		var $opts = $i('options') ? $g('options') : ''; %>
	<div role="group"
		class="btn-group <%- $i('options') && $opts('dropup') ? 'dropup' : 'dropdown' %>
			<%- $i('size') ? 'btn-group-'+$g('size') : '' %>
			<%- $i('class') ? $g('class') : '' %>
			<%- $i('column') ? $g('column') : '' %>"
		<%= $alt ? 'aria-label="'+$alt["alt"]+'"' : '' %>
		<%= $g('rest') %> >

		<button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
			class="dropdown-toggle btn
				btn-<%- $i('strap') ? $g('strap') : 'default' %>">

			<%= HTMA_printNode({0:{a:arguments}, 1:'dropdown-toggle', "framework":$f}) %>
		</button>

		<%= HTMA_printNode({0:{a:arguments}, 1:'dropdown-items', "framework":$f}) %>
	</div>
</script>
<script id="htma-ionic-nav-dropdown"
		name="htma" type="text/html" >
	<% var $alt = HTMA_getRequired(arguments[0],['alt']);
		var $opts = $i('options') ? $g('options') : ''; %>
	<li class="<%- $i('options') && $opts('dropup') ? 'dropup' : 'dropdown' %>
			<%- $i('class') ? $g('class') : '' %>
			<%- $i('column') ? $g('column') : '' %>"
		<%= $alt ? 'aria-label="'+$alt["alt"]+'"' : '' %>
		<%= $g('rest') %>>
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

			<%= HTMA_printNode({0:{a:arguments}, 1:'dropdown-toggle', "framework":$f}) %>
		</a>

		<%= HTMA_printNode({0:{a:arguments}, 1:'dropdown-items', "framework":$f}) %>
	</li>
</script>

<script id="htma-ionic-dropdown-toggle"
		name="htma" type="text/html" >
	<% var $alt = HTMA_getRequired(arguments[0],['alt']); %>
	<% if ($alt) { %>
		<span class="sr-only"><%- $alt["alt"] %></span>
	<% } %>
	<% if ($i('icon')) { %>
		<i class="glyphicon glyphicon-<%- $g('icon') %>"></i>
	<% } %>
	<% if ($i('label')) { %>
		<span class="dropdown-label"><%- $g('label') %></span>
	<% } %>
	<span class="caret"></span>
</script>
<script id="htma-ionic-dropdown-items"
		name="htma" type="text/html" >
	<ul class="dropdown-menu">
		<% _.each($c, function ($child) { %>
			<% if ($child.tagName == "br" || $child.tagName == "hr") { %>
				<li role="separator" class="divider"></li>
			<% } else if ($child.tagName == 'header') { %>
				<li class="dropdown-header">
					<%= HTMA_printNode({0:$child, "framework":$f}) %>
				</li>
			<% } else { %>
				<%= HTMA_printNode({0:$child, 1:'list-item', "framework":$f}) %>
			<% } %>
		<% }); %>
	</ul>
</script>


<script id="htma-ionic-nav"
		name="htma" type="text/html" >
	<% var $ids = HTMA_getRequired(arguments[0],['id', 'alt']); %>

	<nav class="navbar
			navbar-<%- $i('strap') ? $g('strap') : 'default' %>
			<%- $i('column') ? $g('column') : '' %>"
		<%= $ids ? 'aria-label="'+$ids["alt"]+'"' : '' %>
		<%= $g('rest') %> >
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" aria-expanded="false"
					<%= $ids ? 'data-target="#'+$ids["id"]+'"' : '' %> >
					<% if ($ids) { %>
						<span class="sr-only"><%- $ids["alt"] %></span>
					<% } %>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<% if ($i('icon') || $i('label') || $i('badge')) { %>
					<a class="navbar-brand" <%= $i('href') ? 'href="'+$g('href')+'"' : '' %> >
						<% if ($i('icon')) { %>
							<i class="glyphicon glyphicon-<%- $g('icon') %>"></i>
						<% } %>
						<% if ($i('label')) { %>
							<span class="navbar-label"><%- $g('label') %></span>
						<% } %>
						<% if ($i('badge')) { %>
							<span class="badge"><%- $g('badge') %></span>
						<% } %>
					</a>
				<% } %>
			</div>

			<div class="collapse navbar-collapse"
				<%= $ids ? 'id="'+$ids["id"]+'"' : '' %>>
			<% _.each($c, function ($child) { %>
				<% if ($child.tagName == 'nav') { %>
					<%= HTMA_printNode({0:$child, 1:'nav-nav', "framework":$f}) %>
				<% } else if ($child.tagName == 'dropdown') { %>
					<%= HTMA_printNode({0:$child, 1:'nav-dropdown', "framework":$f}) %>
				<% } else { %>
					<%= HTMA_printNode({0:$child, "framework":$f}) %>
				<% } %>
			<% }); %>
			</div>
		</div>
	</nav>
</script>
<script id="htma-ionic-nav-nav"
		name="htma" type="text/html" >
	<% var $alt = HTMA_getRequired(arguments[0],['alt']); %>
	<ul class="nav navbar-nav
			<%- $i('class') ? $g('class') : '' %>
			<%- $i('column') ? $g('column') : '' %>"
		<%= $alt ? 'aria-label="'+$alt["alt"]+'"' : '' %>
		<%= $g('rest') %> >
	<% if ($alt) { %>
		<span class="sr-only"><%- $alt["alt"] %></span>
	<% } %>
	<% _.each($c, function ($child) { %>
		<% if ($child.tagName == 'dropdown') { %>
			<%= HTMA_printNode({0:$child, 1:'nav-dropdown', "framework":$f}) %>
		<% } else { %>
			<%= HTMA_printNode({0:$child, 1:'list-item', "framework":$f}) %>
		<% } %>
	<% }); %>
	</ul>
</script>

<script id="htma-ionic-panel"
		name="htma" type="text/html" >
	<% var $alt = HTMA_getRequired(arguments[0],['alt']); %>
	<div class="panel
			panel-<%- $i('strap') ? $g('strap') : 'default' %>
			<%- $i('column') ? $g('column') : '' %>"
		<%= $alt ? 'aria-label="'+$alt["alt"]+'"' : '' %>
		<%= $g('rest') %> >

		<% if ($alt) { %>
			<span class="sr-only"><%- $alt["alt"] %></span>
		<% } %>
		<% var $startBody = false; %>
		<% _.each($c, function ($child) {//use (&$startBody) { %>
			<% if ($child.tagName == 'header') { %>
				<% if ($startBody) { $startBody = false; %>
					</div>
				<% } %>
				<%= HTMA_printNode({0:$child, 1:'panel-header', "framework":$f}) %>
			<% } else if ($child.tagName == 'footer') { %>
				<% if ($startBody) { $startBody = false; %>
					</div>
				<% } %>
				<%= HTMA_printNode({0:$child, 1:'panel-footer', "framework":$f}) %>
			<% } else { %>
				<% if (! $startBody) { $startBody = true; %>
					<div class="panel-body">
				<% } %>
				<%= HTMA_printNode({0:$child, "framework":$f}) %>
			<% } %>
		<% }); %>
		<% if ($startBody) { $startBody = false; %>
			</div>
		<% } %>
	</div>
</script>
<script id="htma-ionic-panel-header"
		name="htma" type="text/html" >
	<div class="panel-heading">
		<%= HTMA_printNode({0:{a:arguments}, "framework":$f}) %>
	</div>
</script>
<script id="htma-ionic-panel-footer"
		name="htma" type="text/html" >
	<div class="panel-footer" >
		<%= HTMA_printNode({0:{a:arguments}, "framework":$f}) %>
	</div>
</script>

<script id="htma-ionic-list"
		name="htma" type="text/html" >
	<% var $alt = HTMA_getRequired(arguments[0],['alt']); %>
	<ul class="list-group
			<%- $i('class') ? $g('class') : '' %>
			<%- $i('column') ? $g('column') : '' %>"
		<%= $alt ? 'aria-label="'+$alt["alt"]+'"' : '' %>
		<%= $g('rest') %> >
		<% if ($alt) { %>
			<span class="sr-only"><%- $alt["alt"] %></span>
		<% } %>

		<% _.each($c, function ($child) { %>
			<%= HTMA_printNode({0:$child, 1:'list-groupitem', "framework":$f}) %>
		<% }); %>
	</ul>
</script>
<script id="htma-ionic-list-groupitem"
		name="htma" type="text/html" >
	<li class="list-group-item
			list-group-item-<%- $i('strap') ? $g('strap') : 'default' %>" >

		<%= HTMA_printNode({0:{a:arguments}, "framework":$f}) %>
	</li>
</script>


<script id="htma-ionic-row"
		name="htma" type="text/html" >
	<% var $alt = HTMA_getRequired(arguments[0],['alt']); %>
	<div class="row
			<%- $i('class') ? $g('class') : '' %>
			<%- $i('column') ? $g('column') : '' %>"
		<%= $alt ? 'aria-label="'+$alt["alt"]+'"' : '' %>
		<%= $g('rest') %> >
		<% if ($alt) { %>
			<span class="sr-only"><%- $alt["alt"] %></span>
		<% } %>

		<% _.each($c, function ($child) { %>
			<%= HTMA_printNode({0:$child, "framework":$f}) %>
		<% }); %>
	</div>
</script>


<script id="htma-ionic-alert"
		name="htma" type="text/html" >
	<% var $alt = HTMA_getRequired(arguments[0],['alt']);
		var $opts = $i('options') ? $g('options') : ''; %>
	<div role="alert"
		class="alert
			alert-<%- $i('strap') ? $g('strap') : 'default' %>
			<%- $i('class') ? $g('class') : '' %>
			<%- $i('options') && $opts('dismissible') ? 'alert-dismissible' : '' %>"
		<%= $alt ? 'aria-label="'+$alt["alt"]+'"' : '' %>
		<%= $g('rest') %> >
		<% if ($alt) { %>
			<span class="sr-only"><%- $alt["alt"] %></span>
		<% } %>
		<% if ($i('options') && $opts('dismissible')) { %>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<% } %>

		<% _.each($c, function ($child) { %>
			<%= HTMA_printNode({0:$child, "framework":$f}) %>
		<% }); %>
	</div>
</script>


<script id="htma-ionic-progress"
		name="htma" type="text/html" >
	<div class="progress
			<%- $i('column') ? $g('column') : '' %>">
		<%= c.length ? '' : HTMA_printNode({0:{a:arguments}, 1:'progress-progress', "framework":$f}) %>
		<% _.each($c, function ($child) { %>
			<% if ($child.tagName == 'progress') { %>
				<%= HTMA_printNode({0:$child, 1:'progress-progress', "framework":$f}) %>
			<% } %>
		<% }); %>
	</div>
</script>
<script id="htma-ionic-progress-progress"
		name="htma" type="text/html" >
	<% var $alt = HTMA_getRequired(arguments[0],['alt']); %>
	<div class="progress-bar
				progress-bar-<%- $i('strap') ? $g('strap') : 'default' %>
				<%- $i('class') ? $g('class') : '' %>
				<%- $i('state') ? $g('state') : '' %>
				<%- $i('column') ? $g('column') : '' %>"
		<%= $alt ? 'aria-label="'+$alt["alt"]+'"' : '' %>
		<%= $g('rest') %>
		style="width: 35%">
		<% if ($alt) { %>
			<span class="sr-only"><%- $alt["alt"] %></span>
		<% } %>
	</div>
</script>


<script id="htma-ionic-breadcrumb"
		name="htma" type="text/html" >
	<% var $alt = HTMA_getRequired(arguments[0],['alt']); %>
	<ol class="breadcrumb
			<%- $i('class') ? $g('class') : '' %>
			<%- $i('state') ? $g('state') : '' %>
			<%- $i('column') ? $g('column') : '' %>"
		<%= $alt ? 'aria-label="'+$alt["alt"]+'"' : '' %>
		<%= $g('rest') %> >
		<% if ($alt) { %>
			<span class="sr-only"><%- $alt["alt"] %></span>
		<% } %>

		<% _.each($c, function ($child) { %>
			<%= HTMA_printNode({0:$child, 1:'list-item', "framework":$f}) %>
		<% }); %>
	</ol>
</script>


<script id="htma-ionic-pagination"
		name="htma" type="text/html" >
	<nav>
		<ul class="pagination
				<%- $i('size') ? 'pagination-'+$g('size') : '' %>">
			<% _.each($c, function ($child) { %>
			<li>
				<a href="#" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
				</a>
			</li>
			<%= HTMA_printNode({0:$child, 1:'list-item', "framework":$f}) %>
			<li>
				<a href="#" aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
				</a>
			</li>
			<% }); %>
		</ul>
	</nav>
</script>
<script id="htma-ionic-pager"
		name="htma" type="text/html" >
<nav>
  <ul class="pager">
    <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
    <li class="next"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
  </ul>
</nav>
</script>
